 .maintext {
  text-align: center;
  align-items: center;
}

main  {  text-align: center;

}

 .lowertext {
  text-align: center;
  padding-top: 8px;
  color: #af571c;
  font-size: 180%;
}

.locationimages {
justify-content: center;
gap: 20px;
padding-top: 15px;
}

nav {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    padding-bottom: 20px;} 

h1 {
    text-align: center;
    font-size: 350%;
    font-weight: bold;
  color: #f16507;
} 

h2 {
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    color: #af571c;
} 

ul {
    text-align: center;
    list-style-position: inside;
}

header {
opacity: 0.674;
text-align: center;
position: sticky;
height: 130px;
  font-weight: bold;
  font-size: large;
  background-image: url('../images/autumnal.jpg');
  padding: 60px;
  text-align: center;
}

body {
background-color:rgb(102, 179, 121);
color: rgb(2, 46, 28); 
font-weight: bold;
font-family: Arial, sans-serif;
scroll-behavior: smooth;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

footer {
  text-align: center;
  padding-top: 7%;
  padding-bottom: 0%;
  font-size: 250%;
  font-weight: bold;
  color: #af571c;
  height: 40px;  
  padding: 60px;
  background-image: url('../images/autumnal.jpg');
}


.videos {
display: flex;
justify-content: center;
gap: 20px; 
flex-wrap: wrap;
padding-bottom: 8%;
}

.myvid {
justify-content: center;
padding-top: 90px;
padding-bottom: 50px;
}

.images {
display: flex;
justify-content: center;
gap: 20px;
padding-top: 15px;
} 


img {
margin: 10px;
width: 300px;
height: auto;
}

.noAlign {display: block;
width: 100%;
float: none;
clear: both;
}

.rightAlign {
float: right; 
}
#wrapper {
min-width: 600px;
max-width: 1000px;
margin: auto;
}

li::marker {
  color: rgb(255, 208, 0);
  font-size: 120%;
  font-weight: bold;
}

#myVideo {
  right: 0;
  bottom: 0;
  padding-bottom: 10%;
  min-width: 100%; 
  min-height: 100%;
}

block {
  position: absolute;
  justify-content: center;
  left: 20px;
  right: 20px;
  top: 250px;
  color: rgb(180, 111, 6);
background-color:rgb(104, 173, 119);

}

figcaption {
  color: rgb(52, 53, 52);
  text-align: center;
  font-size: 80%;
  padding-top: 5px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 25%;
  text-decoration: none;
}

  .contact-details a{
  display: flex;
  margin-bottom: 10px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
      }

  .contact-details a .material-icons {
  font-size: 50px;
  color: #38761d;
  text-decoration: none;
      }